body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(rgb(73, 44, 12), rgb(51, 30, 10));
}

.container {
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 25px;
    text-shadow: 5px 5px 5px black;
}

header, footer {
    background-color: #064210;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 5px solid rgb(255, 255, 255) ;
    box-shadow: 0px 10px 10px rgb(255, 255, 255) ;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}

.under {
    text-decoration: underline;
    text-decoration: solid;
}
.pic1 {
    text-align: center;
}
.pic {
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-top: 3px solid white;
    border-radius: 50px;
}